@import "./variables";

.link {
  @apply p-2 px-5 text-sm rounded-full border border-transparent transition-all shadow-transparent hover:shadow hover:shadow-secondary-1/10 hover:text-secondary-1/50;

  box-shadow: 1rem 1rem 5rem #201523, -0.1rem -0.1rem 0.5rem #ffcb6915;
  transition: 1s ease;

  &:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem #ffcb6931, -1rem -2rem 1rem transparent;
    filter: hue-rotate(150deg);
  }
}

.experience__card {
  @apply bg-dark-1 p-10 rounded-xl shadow-2xl bg-opacity-20 flex flex-col flex-shrink-0 h-[65vh] my-auto mx-[50vw] w-auto gap-5 hover:brightness-110 hover:scale-105 duration-200 hover:shadow-primary-1 overflow-hidden;

  box-shadow: 1rem 1rem 5rem #201523, -0.1rem -0.1rem 0.5rem #ffcb6915;
  transition: 1s ease;

  &:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem #ffcb6931, -1rem -2rem 1rem transparent;
  }
}

.avatar {
  @apply rounded-full border border-primary-1/20 w-[80px] h-[80px] md:w-[100px] md:h-[100px] p-1.5 md:p-3 flex flex-col items-center justify-center bg-opacity-10 duration-200 hover:bg-primary-1/10 hover:scale-110;

  box-shadow: 1rem 1rem 5rem #201523, -0.1rem -0.1rem 0.5rem #ffcb6915;
  transition: 1s ease;

  &:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem #ffcb6931, -1rem -2rem 1rem transparent;
  }
}

.project__card {
  @apply flex flex-col flex-shrink-0 w-screen h-screen gap-5 justify-center p-20 items-center;
}
