@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-dark-1 text-[#ffedd8];

  box-shadow: inset 0px 0px 100px 10px #00000090;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffcb6994;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8edeb50;
}
